* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primarycolor: #113541;
    --textcolor: #d2ddf3;
    --secondarycolor: #03141c;
    --background: #cdd4d6;
}

body {
    color: var(--primarycolor);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background);
}

/*Start of header*/

.header {
    padding: 20px 35px;
    background-color: var(--primarycolor);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--textcolor);
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
}

.header nav {
    margin: 5px 0;
}
.header nav ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
}

.header nav ul li {
    padding: 15px;
    margin: 0 15px 0 15px;
}

.header nav ul li a {
    color: var(--textcolor);
    font-size: 20px;
    text-decoration: none;
}
/*End of header*/

/*start of hero*/

.hero {
    background-image: url(./imgaes/riccardo-chiarini-a4Swf9wzdKA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

/*End of hero */

/* Start of Grid */

.wrapper {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 1fr 1fr auto;
    grid-auto-rows: minmax(150px, auto);
    grid-row-gap: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
}

.left-hand {
    border-right: var(--secondarycolor) solid 4px;
    color: var(--secondarycolor);
    font-size: 40px;
    padding-right: 10px;
}

.about-me {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    padding-right: 10px;
}
.about-me-p {
    grid-column: 2;
    grid-row: 1;
    padding-left: 25px;
}

.work {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
}

.work-content {
    grid-column: 2;
    grid-row: 2;
    padding-left: 20px;
}

/* Start of contact */

.contact {
    grid-column: 1;
    grid-row: 3;
    text-align: right;
}
.contact-info {
    padding-left: 25px;
    grid-column: 2;
    grid-row: 3;
}

.contact-info ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;
    color: var(--primarycolor);
    font-weight: bold;
}

.contact-info ul li {
    display: inline;
}

.contact-info ul li a {
    text-decoration: none;
}

.contact-info ul li a:link, .contact-info ul li a:visited, .contact-info ul li a:hover {
    color: var(--primarycolor);
}







