* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primarycolor: #113541;
    --textcolor: #d2ddf3;
    --secondarycolor: #03141c;
    --background: #cdd4d6;
}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background);
}

/*Start of header*/

.header {
    padding: 20px 35px;
    background-color: var(--primarycolor);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--textcolor);
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0, 0.5);
}

.header nav a {
    text-decoration: none;
}

.header nav {
    margin: 5px 0;
}
.header nav ul {
    display: flex;
    align-items: flex-end;
}

.header nav ul li {
    padding: 15px;
    margin: 0 15px 0 15px;
}

.header nav ul li a {
    color: var(--textcolor);
    font-size: 20px;
}
/*End of header*/

/*start of hero*/

.hero {
    background-image: url(./imgaes/riccardo-chiarini-a4Swf9wzdKA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}

/*End of hero */

div h2 {
    color: var(--secondarycolor);
    font-size: 40px; 
}

/*Start of about me*/

article {
    display: flex;
    padding: 15px 0 15px 0;
    height: 300px;
}

article h2 {
    font-size: 40px;
    color: var(--secondarycolor);
    height: 100px;
    width: 300px;
    padding: 0 10px 0 70px;
    text-align: right;
    border-right: 5px solid var(--secondarycolor);
    height: 250px;
}

.article p {
    align-items: center;
    padding: 15px;
    margin: 15px 0;
    width: 50%;
}


/* End of about me */

/*start of Work */

.work {
    height: 350px;
    width: 250px;
    text-align: right;
    padding:0 10px 0 70px;
    border-right: 5px solid var(--secondarycolor);
}

.work-container {
    height: 400px;
    display: flex;
    padding: 0 0 15px 0;
}

/* End of work*/

/* Start of contact*/

.contact-container {
    height: 200px;
    display: flex;
    padding: 0 0 15px 0;
}

.contact {
    border-right: 5px solid var(--secondarycolor);
    padding: 0 10px 0 70px;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    text-align: right;
}

/* End of contact */

/* Start of resume */

.resume-container {
    height: 200px;
    padding: 0 0 15px 0;
}

.resume {
    border-right: 5px solid var(--secondarycolor);
    width: 250px;
    padding: 0 10px 0 70px;
    display: flex;
    flex-wrap: wrap;

}




